In [4]:
import pandas as pd
import numpy as np

In [5]:
car=pd.read_csv('quikr_car.csv')

In [6]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [7]:
car.shape

(892, 6)

In [8]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [9]:
backup=car.copy()

In [10]:
car['year'].unique()
'''
for all those columns which are meant to be numerical in nature, we start to convert them into actual numeric value, as in ml, there
is no use of categorical (text) values.

in year column, we have strings ---> '2006' and other types of strings which aren't even numerical in nature
'''

"\nfor all those columns which are meant to be numerical in nature, we start to convert them into actual numeric value, as in ml, there\nis no use of categorical (text) values.\n\nin year column, we have strings ---> '2006' and other types of strings which aren't even numerical in nature\n"

In [11]:
car=car[car['year'].str.isnumeric()]
'''
we only select all the values of year which are numeric
'''

'\nwe only select all the values of year which are numeric\n'

In [12]:
car['year']=car['year'].astype(int)
'''
the strings are numeric in nature, but still are strings right? we need actual number. so, we convert them into actual numeric values
by using astype to int, and we finally get the year in actual numerical form.
'''

'\nthe strings are numeric in nature, but still are strings right? we need actual number. so, we convert them into actual numeric values\nby using astype to int, and we finally get the year in actual numerical form.\n'

In [13]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [14]:
car=car[car['Price']!='Ask For Price']
'''
as we can see above, we have 'ask for price' string in the column which is perfectly wrong. we remove it.
'''

"\nas we can see above, we have 'ask for price' string in the column which is perfectly wrong. we remove it.\n"

In [15]:
car['Price']=car['Price'].str.replace(',','').astype(int)
'''
removing the commas and making the final '40000' to 40000
'''

<ipython-input-15-cbeecdd8594f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(',','').astype(int)

"\nremoving the commas and making the final '40000' to 40000\n"

In [16]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')
'''
here, we have '40,000 kms'. so, we first split the string and we get ['40,000', 'kms'] and we take '40,000' by using .get(0). also, we
removed the comma
'''

<ipython-input-16-0d4d5e99e575>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

"\nhere, we have '40,000 kms'. so, we first split the string and we get ['40,000', 'kms'] and we take '40,000' by using .get(0). also, we\nremoved the comma\n"

In [17]:
car=car[car['kms_driven'].str.isnumeric()]

In [18]:
car['kms_driven']=car['kms_driven'].astype(int)
'''
converting numerical string into actual numerical value
'''

'\nconverting numerical string into actual numerical value\n'

In [19]:
car=car[~car['fuel_type'].isna()]
'''
simply removed the null values from fuel type
'''

'\nsimply removed the null values from fuel type\n'

In [20]:
car.shape

(816, 6)

In [21]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')
'''
from the name, we just take the first 3 words by first splitting the entire string and taking out 3 words and joining them into one
single string.
'''

'\nfrom the name, we just take the first 3 words by first splitting the entire string and taking out 3 words and joining them into one\nsingle string.\n'

In [22]:
car=car.reset_index(drop=True)

In [23]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [24]:
car.describe(include='all')

,name,company,year,Price,kms_driven,fuel_type
count,816,816,816.000000,8.160000e+02,816.000000,816
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,428
mean,NaN,NaN,2012.444853,4.117176e+05,46275.531863,NaN
std,NaN,NaN,4.002992,4.751844e+05,34297.428044,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.912500e+05,56818.500000,NaN
max,NaN,NaN,2019.000000,8.500003e+06,400000.000000,NaN

In [25]:
car=car[car['Price']<6000000]

In [26]:
X=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [30]:
column_trans = make_column_transformer(
    (OneHotEncoder(handle_unknown='ignore'), ['name', 'company', 'fuel_type']),
    remainder='passthrough'
)
'''
column tran has inbuilt one hot encoder which converts the categorical columns into numerical columns.
handle_unknown = 'ignore' means that if this code sees new category, it won't crash.
remainder='passthrough' means leaving rest of the columns as they are as rest of the columns are already numerical in nature
'''

"\ncolumn tran has inbuilt one hot encoder which converts the categorical columns into numerical columns.\nhandle_unknown = 'ignore' means that if this code sees new category, it won't crash.\nremainder='passthrough' means leaving rest of the columns as they are as rest of the columns are already numerical in nature\n"

In [31]:
lr=LinearRegression()

In [32]:
pipe=make_pipeline(column_trans,lr)
'''
pipeline will automatically apply column tranform and linear regression to the contents in the pipe.
'''

'\npipeline will automatically apply column tranform and linear regression to the contents in the pipe.\n'

In [33]:
pipe.fit(X_train,y_train)
'''
here, X_train and y_train are the contents of the pipe. so, column_trans and lr are applied to them automatically.
firstly, column trans is applied which converts the whole dataset's categorical values to numeric value. then afterwards,
linear regression is applied.
'''

"\nhere, X_train and y_train are the contents of the pipe. so, column_trans and lr are applied to them automatically.\nfirstly, column trans is applied which converts the whole dataset's categorical values to numeric value. then afterwards,\nlinear regression is applied.\n"

In [34]:
y_pred=pipe.predict(X_test)
'''
here, content of pipe being X_test, so column tran (one hot encoding) applied to X_test and then predictions are done
'''

'\nhere, content of pipe being X_test, so column tran (one hot encoding) applied to X_test and then predictions are done\n'

In [37]:
r2_score(y_test,y_pred)

0.5213594410986696

In [38]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([435239.47959939])

In [39]:
import pickle

In [40]:
pickle.dump(pipe, open('LinearRegressionModel.pkl','wb'))